@{
 Layout = "_Match";
}

@using TournamentOrganizerClient.Models;
@model TournamentOrganizerClient.Models.Match

<h2>Match Details</h2>

<ul>
  <li>@Html.DisplayNameFor(model => model.Format): @Html.DisplayFor(model => model.Format)</li>
  <li>@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)</li>
  <li>@Html.DisplayNameFor(model => model.Score): @Html.DisplayFor(model => model.Score)</li>
<ul>
<br>
<h4>Registered Users</h4>
<ul>
    @foreach(Account account in Model.MatchUsers)
    {
      <li>Username: @account.Username</li>
    }
</ul>

<p>@Html.ActionLink("Edit Match", "Edit", new { id = Model.MatchId })</p>
<p>@Html.ActionLink("Delete Match", "Delete", new { id = Model.MatchId})</p>

<h3>@Html.ActionLink("Match Home", "Index")</h3>
