@{
 Layout = "_Account";
}
@using TournamentOrganizerClient.Models;
@model TournamentOrganizerClient.Models.Account;
<body>
    <div class="container-fluid">

        <h1>All Accounts:</h1>
        <ol>
        <ul>
            <li>UserId: @Model.UserId</li>
            <li>Username: @Model.Username</li>
            <li>Name: @Model.Name</li>
            <li>Email: @Model.Email</li>
            <li>Region: @Model.Region</li>
        </ul>
        <br>
        <h4>Registered Tournaments:</h4>
        <ul>
            @foreach(Tournament tournament in Model.Tournaments)
            {
                <li>Tournament: @tournament.Name</li>
            }
        </ul>
        <h4>Match History:</h4>
        <ul>
            @foreach(Match match in Model.Matches)
            {
                <li>Tournament @match.TournamentId: Match @match.MatchId</li>
            }
        </ul>
    <br>
</ol>
</div>
</body>