@{
 Layout = "_Account";
}

@model TournamentOrganizerClient.Models.Account;
<body>
    <div class="container-fluid"></div>

<h1>All Accounts:</h1>
<ol>
    <ul>
        <li>UserId: @Model.UserId</li>
        <li>Username: @Model.Username</li>
        <li>Name: @Model.Name</li>
        <li>Email: @Model.Email</li>
        <li>Region: @Model.Region</li>
    </ul>
    <br>
</ol>
</div>
</body>